* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 64px;
    padding: 48px;
    line-height: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    line-height: 120px;
}

.cards__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;

}

.card__wrapper {
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 800px;
    margin: 0 auto;
}

.input-group {
    display: flex;
    gap: 10px;
}

.select {
    width: 151px;
    text-align: center;
}

.search {
    width: 150px;
}

.select[options] {
    text-align: center;
}

.footer {
    text-align: center;
    height: 64px;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: 110px;
        padding: 0px;
        line-height: 0px;
        gap: 15px;
    }

    .card__wrapper {
        width: 375px;
    }
}
